### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head

<bound method NDFrame.head of      Purchase ID               SN  Age                 Gender  Item ID  \
0              0          Lisim78   20                   Male      108
1              1      Lisovynya38   40                   Male      143
2              2       Ithergue48   24                   Male       92
3              3    Chamassasya86   24                   Male      100
4              4        Iskosia90   23                   Male      131
5              5          Yalae81   22                   Male       81
6              6        Itheria73   36                   Male      169
7              7      Iskjaskst81   20                   Male      162
8              8        Undjask33   22                   Male       21
9              9      Chanosian48   35  Other / Non-Disclosed      136
10            10        Inguron55   23                   Male       95
11            11     Haisrisuir60   23                   Male      162
12            12     Saelaephos52   21                   Male      116
13            13      Assjaskan73   22                   Male        4
14            14      Saesrideu94   35                   Male      165
15            15        Lisassa64   21                 Female       98
16            16        Lisirra25   20                   Male       40
17            17        Zontibe81   21                   Male      161
18            18        Reunasu60   22                 Female       82
19            19        Chamalo71   30                   Male       89
20            20     Iathenudil29   20                   Male       57
21            21    Phiarithdeu40   20                   Male      168
22            22     Siarithria38   38  Other / Non-Disclosed       24
23            23         Eyrian71   40                   Male      151
24            24          Siala43   30                   Male      141
25            25        Lisirra87   29                   Male      178
26            26       Lirtossa84   11                   Male       71
27            27          Eusri44    7                   Male       96
28            28           Aela59   21                   Male      119
29            29          Tyida79   24                   Male       37
..           ...              ...  ...                    ...      ...
750          750         Iljask75   22                   Male      167
751          751      Lisjaskan36   11                   Male      180
752          752    Mindjasksya61   17                   Male      112
753          753   Frichirranya75   36                   Male      178
754          754  Pheosurllorin41   23                 Female       79
755          755         Raesty92   12                   Male       76
756          756          Ilast79   20                   Male       73
757          757        Eratiel90   18                   Male       57
758          758           Iral74   21                   Male      182
759          759      Tyaelorap29   25                   Male       72
760          760       Aithelis62   21                   Male       44
761          761          Assim27   45                   Male       17
762          762           Asur53   26                   Male      110
763          763     Lassilsala30   21                   Male       85
764          764     Saedaiphos46   18                   Male      113
765          765          Irith83   18                   Male      130
766          766     Aelastirin39   23                   Male       58
767          767          Ilmol66    8                 Female       92
768          768     Assassasta79   38                   Male       92
769          769        Ilosian36   15                   Male      145
770          770       Lirtosia63   34                   Male       12
771          771     Iskossasda43   16                   Male       25
772          772           Asur53   26                   Male      136
773          773           Hala31   21                   Male       19
774          774       Jiskjask80   11                   Male      101
775          775       Aethedru70   21                 Female       60
776          776           Iral74   21                   Male      164
777          777       Yathecal72   20                   Male       67
778          778          Sisur91    7                   Male      101
779          779        Ennrian78   24                   Male       50

                                        Item Name  Price
0       Extraction, Quickblade Of Trembling Hands   3.53
1                               Frenzied Scimitar   1.56
2                                    Final Critic   4.88
3                                     Blindscythe   3.27
4                                            Fury   1.44
5                                       Dreamkiss   3.61
6          Interrogator, Blood Blade of the Queen   2.18
7                                   Abyssal Shard   2.67
8                                       Souleater   1.10
9                    Ghastly Adamantite Protector   3.58
10                          Singed Onyx Warscythe   4.74
11                                  Abyssal Shard   2.67
12                        Renewed Skeletal Katana   4.18
13                             Bloodlord's Fetish   1.70
14                    Bone Crushing Silver Skewer   4.86
15                    Deadline, Voice Of Subtlety   2.89
16                                  Second Chance   2.52
17                                         Devine   1.76
18                                        Nirvana   4.90
19              Blazefury, Protector of Delusions   4.64
20                Despair, Favor of Due Diligence   4.60
21            Sun Strike, Jaws of Twisted Visions   1.48
22                                  Warped Fetish   3.81
23                                      Severance   3.40
24                                     Persuasion   3.19
25   Oathbreaker, Last Hope of the Breaking Storm   4.23
26                                         Demise   1.61
27                    Blood-Forged Skeletal Spine   3.09
28      Stormbringer, Dark Blade of Ending Misery   4.32
29            Shadow Strike, Glory of Ending Hope   3.16
..                                            ...    ...
750                   Malice, Legacy of the Queen   3.61
751                                   Stormcaller   3.36
752                                  Worldbreaker   2.60
753  Oathbreaker, Last Hope of the Breaking Storm   4.23
754                           Alpha, Oath of Zeal   4.05
755                      Haunted Bronzed Bludgeon   3.15
756                                   Ritual Mace   2.05
757               Despair, Favor of Due Diligence   4.60
758                                     Toothpick   4.03
759                                 Winter's Bite   3.77
760                         Bonecarvin Battle Axe   2.38
761                  Lazarus, Terror of the Earth   1.70
762                                    Suspension   1.44
763                                Malificent Bag   1.75
764                             Solitude's Reaver   4.07
765                                         Alpha   2.07
766             Freak's Bite, Favor of Holy Might   4.14
767                                  Final Critic   4.88
768                                  Final Critic   4.88
769                          Fiery Glass Crusader   4.58
770                                         Dawne   1.02
771                                     Hero Cane   4.35
772                  Ghastly Adamantite Protector   3.58
773                 Pursuit, Cudgel of Necromancy   1.02
774                                  Final Critic   4.19
775                                          Wolf   3.54
776                              Exiled Doomblade   1.63
777         Celeste, Incarnation of the Corrupted   3.46
778                                  Final Critic   4.19
779                                          Dawn   4.60

[780 rows x 7 columns]>

## Player Count

* Display the total number of players

In [5]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]# Display the total number of players
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

In [6]:
# Run basic calculations
average_item_price = purchase_data["Price"].mean()
total_purchase_value = purchase_data["Price"].sum()
purchase_count = purchase_data["Price"].count()
item_count = len(purchase_data["Item ID"].unique())

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:


# Create a DataFrame to hold results
summary_table = pd.DataFrame({"Number of Unique Items": item_count,
                              "Total Revenue": [total_purchase_value],
                              "Number of Purchases": [purchase_count],
                              "Average Price": [average_item_price]})

In [8]:
# Minor Data Munging
summary_table = summary_table.round(2)
summary_table ["Average Price"] = summary_table["Average Price"].map("${:,.2f}".format)
summary_table ["Number of Purchases"] = summary_table["Number of Purchases"].map("{:,}".format)
summary_table ["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table = summary_table.loc[:,["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

# Display the summary_table
summary_table

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Calculate the Number and Percentage by Gender
gender_demographics_totals = player_demographics["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals / num_players
gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals, "Percentage of Players": gender_demographics_percents})

# Minor Data Munging
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{:,.2%}".format)

gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Run basic calculations
gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_counts = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

# Calculate Normalized Purchasing (Average Total Purchase per Person)
normalized_total = gender_purchase_total / gender_demographics["Total Count"]

# Convert to DataFrame
gender_data = pd.DataFrame({"Purchase Count": gender_counts, "Average Purchase Price": gender_average, "Total Purchase Value": gender_purchase_total, "Normalized Totals": normalized_total})

# Minor Data Munging
gender_data["Average Purchase Price"] = gender_data["Average Purchase Price"].map("${:,.2f}".format)
gender_data["Total Purchase Value"] = gender_data["Total Purchase Value"].map("${:,.2f}".format)
gender_data ["Purchase Count"] = gender_data["Purchase Count"].map("{:,}".format)
gender_data["Avg Total Purchase per Person"] = gender_data["Normalized Totals"].map("${:,.2f}".format)
gender_data = gender_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

# Display the Gender Table
gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
# Establish the bins 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_names)

# Calculate the Numbers and Percentages by Age Group
age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / num_players
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

# Minor Data Munging
age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map("{:,.2%}".format)

# Display Age Demographics Table
age_demographics = age_demographics.sort_index()
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# Bin the Purchasing Data
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

# Run basic calculations
age_purchase_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_average = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

# Calculate Normalized Purchasing (Average Purchase Total per Person)
normalized_total = age_purchase_total / age_demographics["Total Count"]

# Convert to DataFrame
age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, "Total Purchase Value": age_purchase_total, "Normalized Totals": normalized_total})

# Minor Data Munging
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data ["Purchase Count"] = age_data["Purchase Count"].map("{:,}".format)
age_data["Avg Total Purchase per Person"] = age_data["Normalized Totals"].map("${:,.2f}".format)
age_data = age_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

# Display the Age Table
age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
# Basic Calculations
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

# Convert to DataFrame
user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})

# Display Table
user_sorted = user_data.sort_values("Total Purchase Value", ascending=False)

# Minor Data Munging
user_sorted["Average Purchase Price"] = user_sorted["Average Purchase Price"].map("${:,.2f}".format)
user_sorted["Total Purchase Value"] = user_sorted["Total Purchase Value"].map("${:,.2f}".format)
user_sorted = user_sorted.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

# Display DataFrame
user_sorted.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# Extract item Data
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Perform basic calculations
total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
item_data_pd = pd.DataFrame({"Total Purchase Value": total_item_purchase, "Item Price": average_item_purchase, "Purchase Count": item_count})

# Sort Values
item_data_count_sorted = item_data_pd.sort_values("Purchase Count", ascending=False)

# Minor Data Munging
item_data_count_sorted["Item Price"] = item_data_count_sorted["Item Price"].map("${:,.2f}".format)
item_data_count_sorted["Purchase Count"] = item_data_count_sorted["Purchase Count"].map("{:,}".format)
item_data_count_sorted["Total Purchase Value"] = item_data_count_sorted["Total Purchase Value"].map("${:,.2f}".format)
item_popularity = item_data_count_sorted.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

item_popularity.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [15]:
# Item Table (Sorted by Total Purchase Value)
item_totalsort_purchase = item_data_pd.sort_values("Total Purchase Value", ascending=False)

# Minor Data Munging
item_totalsort_purchase["Item Price"] = item_totalsort_purchase["Item Price"].map("${:,.2f}".format)
item_totalsort_purchase["Purchase Count"] = item_totalsort_purchase["Purchase Count"].map("{:,}".format)
item_totalsort_purchase["Total Purchase Value"] = item_totalsort_purchase["Total Purchase Value"].map("${:,.2f}".format)
item_profit_sort = item_totalsort_purchase.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

item_profit_sort.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80